<footer class="site-footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-brand">
        <img src="{{ROOT}}assets/images/logo.png" alt="Alfaisal University" />
        <p>Founded in 2002 under the patronage of the late King Faisal's family, Alfaisal University is a premier non-profit institution in Riyadh, Kingdom of Saudi Arabia, advancing education, research and innovation in service of Vision 2030.</p>
        <div class="footer-social">
          <a href="https://twitter.com/alfaisaluniv" target="_blank" rel="noopener" aria-label="X / Twitter">𝕏</a>
          <a href="https://www.facebook.com/alfaisaluniv" target="_blank" rel="noopener" aria-label="Facebook">f</a>
          <a href="http://www.youtube.com/alfaisaluniv" target="_blank" rel="noopener" aria-label="YouTube">▶</a>
        </div>
      </div>

      <div class="footer-col">
        <h5>Explore</h5>
        <ul>
          <li><a href="{{ROOT}}academics">Academics</a></li>
          <li><a href="{{ROOT}}admissions">Admissions</a></li>
          <li><a href="{{ROOT}}colleges">Colleges</a></li>
          <li><a href="{{ROOT}}research">Research &amp; Innovation</a></li>
          <li><a href="{{ROOT}}student-life">Student Life</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h5>Resources</h5>
        <ul>
          <li><a href="{{ROOT}}admissions#scholarships">Scholarships</a></li>
          <li><a href="{{ROOT}}admissions#faq">Student FAQ&rsquo;s</a></li>
          <li><a href="{{ROOT}}news">Press &amp; News</a></li>
          <li><a href="{{ROOT}}exec-officers">Executive Officers</a></li>
          <li><a href="{{ROOT}}board-trustees">Board of Trustees</a></li>
          <li><a href="{{ROOT}}brochures">College Brochures</a></li>
          <li><a href="{{ROOT}}alfaisal-apps">Alfaisal Mobile App</a></li>
          <li><a href="{{ROOT}}sitemap">Sitemap</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h5>Contact</h5>
        <ul>
          <li>P.O. Box 50927, Riyadh 11533, KSA</li>
          <li><a href="tel:920000570">920 000 570 (Local)</a></li>
          <li><a href="tel:+966112157777">+966 11 215 7777 (Intl.)</a></li>
          <li><a href="mailto:info@alfaisal.edu">info@alfaisal.edu</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="footer-bottom">
      <p>&copy; 2026 Alfaisal University. All Rights Reserved.</p>
      <p>Redesign concept &middot; <a href="{{ROOT}}contact">Get in touch</a></p>
    </div>
  </div>
</footer>

<button class="to-top" aria-label="Back to top">&#8593;</button>
<script src="{{ROOT}}js/main.js"></script>
